<section class="flex items-center bg-purple-900 justify-center" style="height: 500px;">
    <div class="text-center">
        <p class="text-xl font-medium tracking-wider text-gray-700">Chahrazed booking in your service</p>
        <h2 class="mt-6 text-3xl font-bold text-white md:text-5xl">Do you want make a reservation  <br> Chahrazed is the best 
            way</h2>

        <div class="flex justify-center mt-8">
            <a class="px-8 py-2 text-lg font-medium text-white transition-colors duration-300 transform bg-indigo-600 rounded hover:bg-indigo-500"
                href="#">Get In Touch</a>
        </div>
    </div>
</section>


<section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto">
        <div class="items-center md:flex md:space-x-6">
            <div class="md:w-1/2">
                <h3 class="text-2xl font-semibold text-gray-800">Chambre Classique <br><a href="#" class="block mt-8 text-indigo-700 underline">Hotel IlMansour</a> </h3>
                <p class="max-w-md mt-4 text-gray-600">Chambres classiques et élégantes, aux détails contemporains et au décor raffiné.
                    Très accueillantes, elles offrent une sensation de confort intemporel créée pour
                    des moments spéciaux et un séjour paisible. Les chambres ont entre 20 et 25 m2 et
                    donnent sur la ville d'Estoril. Lits simples ou lit double, queen ou king size,
                    salle de bains en marbre, dont certaines avec baignoire et douche séparées.</p>
            <div>
                <div>Price 100 Dt</div>
            <button class="button">Reserver</button>
          </div >
            </div>

            <div class="mt-8 md:mt-0 md:w-1/2">
                <div class="flex items-center justify-center">
                    <div class="max-w-md">
                        <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px;"
                        [src]="pic1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto">
        <div class="items-center md:flex md:space-x-6">
            <div class="md:w-1/2">
                <div class="flex items-center justify-center">
                    <div class="max-w-md">
                        <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px;"
                        [src]="pic3">
                    </div>
                </div>
            </div>

            <div class="mt-8 md:mt-0 md:w-1/2">
                <h3 class="text-2xl font-semibold text-gray-800">Chambre Supérieure <br>  <a href="#" class="block mt-8 text-indigo-700 underline">Hotel Zineb</a></h3>
                <p class="max-w-md mt-4 text-gray-600">Chambres Supérieure et élégantes, aux détails contemporains et au décor raffiné.
                    Très accueillantes, elles offrent une sensation de confort intemporel créée pour
                    des moments spéciaux et un séjour paisible.
                    donnent sur le jardin de l'hôtel et le parc d'Estoril, et certaines disposent
                    d'un petit balcon. Lits simples ou lits doubles, queen ou king size, salle
                    de bains en marbre, dont certaines avec baignoire et douche séparées.</p><br>
                    <div>Price 100 Dt</div>
                    <button class="button">Reserver</button>
            </div>
           
        </div>
    </div>
</section>




<section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto text-center">
        <h2 class="text-3xl font-semibold text-gray-800">Lorem ipsum dolor sit amet, <br> consectetur adipiscing</h2>
        <p class="max-w-lg mx-auto mt-4 text-gray-600">Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>

        <img class="object-cover object-center w-full mt-16 rounded-md shadow h-80"
        [src]="pic2">
    </div>
</section>

<section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto space-y-8 md:flex md:items-center md:space-y-0">
        <div class="md:w-2/3">
            <div class="hidden md:flex md:items-center md:space-x-10">
                <img class="object-cover object-center rounded-md shadow w-72 h-72"
                [src]="pic4">
                <img class="object-cover object-center w-64 rounded-md shadow h-96"
                [src]="pic6">
            </div>
            <h2 class="text-3xl font-semibold text-gray-800 md:mt-6">Lorem ipsum dolor </h2>
            <p class="max-w-lg mt-4 text-gray-600">
                Duis aute irure dolor in reprehenderit in voluptate velit esse illum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit anim id est laborum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="md:w-1/3">
            <img class="object-cover object-center w-full rounded-md shadow" style="height: 700px;"
            [src]="pic3">
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto text-center">
        <h2 class="text-3xl font-semibold text-gray-800">Our Leadership</h2>
        <p class="max-w-lg mx-auto mt-4 text-gray-600">Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>

        <div class="grid gap-8 mt-6 md:grid-cols-2 lg:grid-cols-4">
            <div>
                <img class="object-cover object-center w-full h-64 rounded-md shadow"
                [src]="pic5">
                <h3 class="mt-2 font-medium text-gray-700">John Doe</h3>
                <p class="text-sm text-gray-600">CEO</p>
            </div>

            <div>
                <img class="object-cover object-center w-full h-64 rounded-md shadow"
                [src]="pic7">
                <h3 class="mt-2 font-medium text-gray-700">John Doe</h3>
                <p class="text-sm text-gray-600">CEO</p>
            </div>

            <div>
                <img class="object-cover object-center w-full h-64 rounded-md shadow"
                [src]="pic9">
                <h3 class="mt-2 font-medium text-gray-700">John Doe</h3>
                <p class="text-sm text-gray-600">CEO</p>
            </div>

            <div>
                <img class="object-cover object-center w-full h-64 rounded-md shadow"
                [src]="pic8">
                <h3 class="mt-2 font-medium text-gray-700">John Doe</h3>
                <p class="text-sm text-gray-600">CEO</p>
            </div>
        </div>
    </div>
</section>