
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ChahraZed</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Acceuil</a></li>
      <li class="dropdown">
        <a href="#">Chambre </a>
      </li>
      <li><a routerLink="/chambres">Rechercher </a></li>
      <li><a routerLink="/nouveau-chambres">Ajouter</a></li>
      <li><a routerLink="/connecter" routerLinkActive="active">Connecter</a> </li>
      <li><a routerLink="/inscrit" routerLinkActive="active">Creer un Compte</a> </li>
    </ul>
  </div>
</nav>
<router-outlet> </router-outlet>
